.media-left-div{
	height:100px;
}
.media-left-div img{
	width:100px;
	max-height:100px;
}

.media-heading span.title{
   font-weight: bold;
}

.media-heading span.info{
	font-size: 15px;
    color: grey;
}

.media-body{
   width:100%;	
}

.media-body-left{
   float:left;
   width:90%; 
}

.media-body-right{
   float:right;
}

.mixLink{
  color: #000000;
  text-decoration: none;
}

.mixLink:active,.mixLink:hover{
  color: #000000;
  text-decoration: none;
}